@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: #FFFFFF;
    --color-primary: #2C3E50;
    --color-secondary: #475569;
    --color-hover: #0F172A;
    --color-gray-border: #CBD5E1;
    --color-bg-section: #F8FAFC;
    --color-bg-button: #F1F5F9;
    --color-hoverbtn:#64748B;
    --color-a-sidebar:#334155;
    --color-dish-details:#43474C;
    --color-header-bgScroll:#334155;
    --text-size-base: 16px;
    --font-inter: 'Inter', sans-serif;
    --breakpoint-sm: 480px;
    --container-max-width: 100%;
    --breakpoint-container: 1400px;
}

.dark {
--color-background: #0F172A;
a {
    color: white;  
}
}
html{
    scroll-behavior: smooth;
}

@layer base {
    body {
        font-family: var(--font-inter);
    }

    a {
        cursor: pointer;
    }
}

@layer components {
    .container {
        @apply mx-auto px-4; 
    }

    .nav-link {
        @apply text-secondary hover:text-hover duration-300 decoration-2 hover:underline underline-offset-4 transition-all;
    }

    .btn-primary {
        @apply py-3.5 max-sm:py-2 px-6 max-sm:px-4 bg-primary text-white rounded-lg border border-primary transition-all  hover:bg-transparent hover:text-primary;
    }

    .btn-secondary {
        @apply py-3.5 max-sm:py-2 px-6 max-sm:px-4 border-gray-border text-secondary rounded-lg border transition-all hover:bg-gray-100;
    }
   
    .card-categories {
        @apply  rounded-2xl border border-gray-border  ;
    }
 
}
