@import "tailwindcss";
@theme {
    --color-primary: #2C3E50;
    --color-secondary: #475569;
    --color-hover: #0F172A; 
    --font-inter: 'Inter', sans-serif;
}

@layer base{
    body{
        font-family: var(--font-inter);
    }
    a{
        color: var(--color-texta);
        cursor: pointer;
       
    }
}
@utility nav-link {
    @apply text-secondary hover:text-hover duration-300 decoration-2 hover:underline underline-offset-4 transition-all;
}
